.row
  .col-md-12
    = form_for(@post) do |f|
      - if @post.errors.any?
        .alert.alert-danger
          %h3= "#{ pluralize(@post.errors.count, 'error') } prohibited this post from being saved:"
          %ul
            - @post.errors.full_messages.each do |msg|
              %li= msg
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control', required: true, autofocus: true, placeholder: 'Enter title'
      .form-group
        = f.label :body
        = f.text_area :body, class: 'form-control', required: true, placeholder: 'Enter post content'
      = f.submit class: 'btn btn-sm btn-secondary'
