%h1= @post.title
%p= link_to 'Edit post', edit_post_path, class: 'btns'
%p= link_to 'Delete post', post_path(@post),
  method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
%p= link_to 'All posts', posts_path, class: 'btn'
%p Created at #{@post.created_at}.
%p= @post.body
%h3 Comments
- @post.comments.each do |comment|
  %p
    = comment.body
    by
    = comment.author
%h3 Add new comment
= form_with(model: [ @post, @post.comments.build ], local: true) do |form|
  %p
    = form.label :author
    %br
    = form.text_field :author
  %p
    = form.label :body
    %br
    = form.text_area :body
  %p
    = form.submit class: 'btn btn-sm btn-secondary'
