%h1.cover-heading= @post.title
%p.blockquote-footer Created at #{@post.created_at}.
%p.text-justify= @post.body
.btn-group{ role: 'group', :aria-label => 'actions' }
  %p= link_to 'Edit post', edit_post_path, class: 'btn btn-sm btn-secondary'
  %p= link_to 'Delete post', post_path(@post),
                method: :delete,
                data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
